@font-face {
    font-family: poppinsRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppinsRegular, sans-serif;
}

.container {
    background-color: #e3e2df;
    width: 70%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.container>img {
    width: 100%;
    margin: -150px 0;
}

.heading {
    background-color: #d60746;
    padding-top: 50px;
}

.container .heading h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.container .heading h1 {
    font-size: 4rem;
    color: whitesmoke;
}

#typingBox {
    width: 70%;
    /* min-width: 300px; */
    max-width: 600px;
    /* width: 650px; */
    padding: 0.6rem 0.7rem;
    font-size: .9rem;
    background-color: whitesmoke;
    /*e3afbc*/
    border-radius: 7px;
    color: white;
    margin: 0 .5rem;
}

#typingBox:focus::placeholder {
    color: rgba(49, 49, 49, 0.274);
}



#addTaskBtn {
    width: 100px;
    height: 36px;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    cursor: pointer;
    background-color: #e3e2df;
    /* outline: none; */
    border: none;
    border-radius: 7px;
    margin-right:.5rem;
    
}

.mainList {
    /* background: #353534; */
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #d60746;
    border-radius: 10px;
    padding: 0.8rem 0;
    padding-top: 2rem;

}

form {
    background-color: #d60746;
    height: 100px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mainList>p {
    background-color: #e3e2df;
    color: black;
    font-weight: 700;
    position: absolute;
    padding: 0 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #353534; */
    /* height: 35px; */
    margin-bottom: .5rem;
    transition: 2s all ease;
}

.wrapper>input {
    background-color: transparent;
    outline: none;
    font-family: poppinsRegular, sans-serif;
    border: none;
    color: rgb(0, 0, 0);
    width: 78%;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
    margin-left: .5rem;
    border: 3px solid transparent;
    transition: .5s all ease;
}

.icons {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    min-width: 120px;
}

.icons>img {
    padding: 3px;
    height: 30px;
    margin-left: .4rem;
    cursor: pointer;
}

.icons .dltBtn {
    height: 28px;
}

.wrapper .borderbox {
    border: 3px solid #d60746;
    color: black;
    background-color: whitesmoke;
}



.icons>.okBtn {
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    /* justify-content: center; */
}


.icons>.okBtn .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    margin-left: -1px;
    transition: .7s all ease;
    
}

@media only screen and (max-width:900px) {
    .container {
        width: 100%;
    }
    .mainList{
        width: 90%;
    } 
}
